aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
boto3==1.43.14
botocore==1.43.14
celery==5.6.3
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
distro==1.9.0
django==6.0.5
django-celery-results==2.6.0
django-environ==0.13.0
django-redis==6.0.0
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2026.5.1
durationpy==0.10
flatbuffers==25.12.19
frozenlist==1.8.0
greenlet==3.5.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
idna==3.16
imageio==2.37.3
inflection==0.5.1
insightface==1.0.1
jiter==0.15.0
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
kubernetes==36.0.0
langchain==1.3.1
langchain-classic==1.0.7
langchain-community==0.4.2
langchain-core==1.4.0
langchain-openai==1.2.2
langchain-protocol==0.0.15
langchain-text-splitters==1.1.2
langgraph==1.2.1
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.3.15
langsmith==0.8.5
lazy-loader==0.5
ml-dtypes==0.5.4
multidict==6.7.1
mysqlclient==2.2.8
networkx==3.6.1
numpy==2.4.6
oauthlib==3.3.1
onnx==1.21.0
onnxruntime==1.26.0
openai==2.38.0
opencv-python==4.13.0.92
orjson==3.11.9
ormsgpack==1.12.2
packaging==26.2
pandas==3.0.3
pillow==12.2.0
prompt-toolkit==3.0.52
propcache==0.5.2
protobuf==7.35.0
pydantic==2.13.4
pydantic-core==2.46.4
pydantic-settings==2.14.1
pyjwt==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyyaml==6.0.3
redis==7.4.0
referencing==0.37.0
regex==2026.5.9
requests==2.34.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rpds-py==0.30.0
s3transfer==0.17.0
scikit-image==0.26.0
scipy==1.17.1
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.50
sqlparse==0.5.5
tenacity==9.1.4
tifffile==2026.5.15
tiktoken==0.13.0
tqdm==4.67.3
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.7.0
uuid-utils==0.16.0
uwsgi==2.0.31
vine==5.1.0
wcwidth==0.7.0
websocket-client==1.9.0
xxhash==3.7.0
yarl==1.24.2
zstandard==0.25.0
